body{
  background:black;
  color:white;
  font-family:Arial;
  padding:20px;
}

.admin-top-grid{
  display:grid;
  grid-template-columns:
    1fr 1fr;
  gap:12px;
  margin-bottom:12px;
}

.admin-box{
  max-width:600px;
  margin:auto;
}

.admin-box h1{
  margin-top:0;
  margin-bottom:12px;
}

input,
select,
textarea{
  width:100%;
  margin-bottom:10px;
  padding:10px;
  border:none;
  border-radius:12px;
  font-size:14px;
  box-sizing:border-box;
}

textarea{
  min-height:420px;
  resize:vertical;
}

.edit-box{
  background:#1a1a1a;
  border-radius:16px;
  padding:16px;
  margin-top:20px;
}

.edit-title{
  color:white;
  font-size:18px;
  font-weight:700;
  margin-bottom:12px;
  text-align:center;
}

#song-select{
  width:100%;
  padding:14px;
  border:none;
  border-radius:12px;
  font-size:16px;
}

button{
  width:100%;
  padding:10px;
  border:none;
  border-radius:12px;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
}

.admin-actions{
  display:flex;
  gap:10px;
}

.admin-actions button{
  flex:1;
  border:none;
  border-radius:14px;
  padding:14px 10px;
  background:white;
  color:black;
  font-size:16px;
  font-weight:700;
  cursor:pointer;
  transition:.2s;
}

.admin-actions button:hover{
  transform:scale(1.02);
}

pre{
  margin-top:20px;
  background:#111;
  padding:14px;
  border-radius:12px;
  overflow:auto;
  white-space:pre-wrap;
}

/* FLOAT BUTTON */
.floating-buttons{
  position:fixed;
  right:20px;
  top:15px;
  display:flex;
  flex-direction:column;
  gap:10px;
  z-index:999;
}

.floating-buttons button{
  width:44px;
  height:44px;
  border:none;
  border-radius:12px;
  background:#1f1f1f;
  color:white;
  font-size:18px;
  font-weight:bold;
  cursor:pointer;
}
