.daftar-wrapper{
  width:100%;
  max-width:900px;
  margin:auto;
  padding:0px 16px 100px;
}

/* TITLE */
.page-title{
  text-align:center;
  font-size:26px;
  font-weight:800;
  margin-top:2px;
  margin-bottom:18px;
}

/* SEARCH */
#search-input{
  width:100%;
  padding:10px 16px;
  border:none;
  border-radius:14px;
  font-size:16px;
  outline:none;
  margin-bottom:14px;
}

/* FILTER */
#kategori-filter{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
  margin-bottom:10px;
}

.filter-btn{
  border:none;
  padding:10px 10px;
  border-radius:12px;
  background:#1f1f1f;
  color:white;
  cursor:pointer;
  font-weight:600;
}

.filter-btn.active{
  background:white;
  color:black;
}

/* LIST */
#daftar-container{
  display:flex;
  flex-direction:column;
  gap:10px;
}

/* ITEM */
.song-item{
  background:white;
  border-radius:14px;
  padding:6px 16px;
  cursor:pointer;
  transition:.2s;
}

.song-item:hover{
  transform:scale(1.01);
}

/* TITLE */
.song-name{
  color:black;
  font-size:16px;
  font-weight:700;
}

/* CATEGORY */
.song-category{
  color:#666;
  font-size:14px;
  margin-top:4px;
}

/* FLOAT BUTTON */
.floating-buttons{
  position:fixed;
  right:16px;
  bottom:30px;
  display:flex;
  flex-direction:column;
  gap:10px;
  z-index:999;
}

.floating-buttons button{
  width:44px;
  height:44px;
  border:none;
  border-radius:12px;
  background:#1f1f1f;
  color:white;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
}

/* MOBILE */
@media(max-width:600px){
  .song-name{
    font-size:18px;
  }
}

/* SONG ITEM */
.song-item{
  background:white;
  border-radius:14px;
  padding:10px 16px;
  display:flex;
  align-items:center;
  gap:10px;
  cursor:pointer;
  transition:.2s;
}

.song-item:hover{
  transform:scale(1.01);
}

/* STRIP */
.song-strip{
  width:6px;
  height:16px;
  border-radius:999px;
  flex-shrink:0;
}

/* TITLE */
.song-name{
  color:black;
  font-size:16px;
  font-weight:700;
}
