body{
  margin:0;
  background:#000;
  color:#fff;
  font-family:Arial,sans-serif;
}

.page-header{
  background:#fff;
  color:#000;
  text-align:center;
  padding:14px;
}

.page-header h1{
  margin:0;
  font-size:28px;
  font-weight:900;
}

.kategori-page{
  width:90%;
  max-width:700px;
  margin:auto;
  padding:20px 0 120px;
}

.kategori-box{
  background:#fff;
  color:#000;
  border-radius:12px;
  margin-bottom:16px;
  overflow:hidden;
}

.kategori-header{
  padding:18px;
  font-size:20px;
  font-weight:700;

  display:flex;
  justify-content:space-between;
  align-items:center;

  cursor:pointer;
}

.kategori-list{
  display:none;
  padding:0 18px 18px;
}

.kategori-list.active{
  display:block;
}

.song-item{
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:12px 0;

  border-bottom:1px solid #ddd;
}

.song-item:last-child{
  border:none;
}

.add-btn{
  width:34px;
  height:34px;

  border:none;
  border-radius:8px;

  background:#000;
  color:#fff;

  cursor:pointer;
}

.setlist-preview{
  margin-top:30px;
}

.bottom-nav{

  position:fixed;

  bottom:20px;
  left:50%;

  transform:translateX(-50%);

  display:flex;
  gap:14px;

}

.bottom-nav button{

  border:none;
  border-radius:12px;

  padding:14px 28px;

  font-size:18px;
  font-weight:700;

  cursor:pointer;

}
