/* =========================
   PAGE
========================= */

.page-wrapper{
  min-height:
    calc(100dvh - 50px - 28px);

  display:flex;
  flex-direction:column;
}

/* =========================
   LIST
========================= */

#setlist-container{
  display:flex;
  flex-direction:column;
  gap:14px;
}

/* EMPTY STATE */
.empty-setlist{
  flex:1;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  font-size:20px;
  font-weight:700;
  opacity:.7;
  min-height:300px;
}

/* =========================
   ITEM
========================= */

.setlist-item{
  background:white;
  border-radius:10px;
  padding:4px 10px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:8px;
  min-height:42px;
}

/* =========================
   TITLE
========================= */

.song-title{
  color:black;
  font-size:18px;
  font-weight:700;
  cursor:pointer;
  flex:1;
  line-height:1.1;
}
}

/* =========================
   BUTTON AREA
========================= */

.setlist-actions{
  display:flex;
  gap:8px;
}

/* =========================
   BUTTON
========================= */

.action-btn{
  width:32px;
  height:32px;

  border:none;
  border-radius:10px;

  background:#111;
  color:white;

  font-size:15px;
  font-weight:bold;

  cursor:pointer;
  transition:.2s;
}

.action-btn:hover{
  transform:scale(1.05);
}

/* =========================
   MOBILE
========================= */

@media(max-width:600px){

  .song-title{
    font-size:17px;
  }

  .action-btn{
    width:34px;
    height:34px;
    font-size:15px;
  }

}
