.setlist-wrapper{
  width:100%;
  max-width:900px;
  margin:auto;
  padding:0px 16px 16px;
}

.setlist-title{
  text-align:center;
  font-size:26px;
  font-weight:800;
  margin-top:6px;
  margin-bottom:18px;
}

/* LIST */
#setlist-container{
  display:flex;
  flex-direction:column;
  gap:14px;
}

/* ITEM */
.setlist-item{
  background:white;
  border-radius:14px;
  padding:8px 12px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:10px;
}

/* TITLE */
.song-title{
  color:black;
  font-size:22px;
  font-weight:700;
  cursor:pointer;
  flex:1;
}

/* BUTTON AREA */
.setlist-actions{
  display:flex;
  gap:8px;
}

/* BUTTON */
.action-btn{
  width:30px;
  height:30px;
  border:none;
  border-radius:10px;
  background:#111;
  color:white;
  font-size:15px;
  cursor:pointer;
  transition:.2s;
}

.action-btn:hover{
  transform:scale(1.05);
}

/* FLOAT BUTTON */
.floating-buttons{
  position:fixed;
  right:16px;
  bottom:20px;
  display:flex;
  flex-direction:column;
  gap:10px;
  z-index:999;
}

.floating-buttons button{
  width:56px;
  height:56px;
  border:none;
  border-radius:16px;
  background:#1f1f1f;
  color:white;
  font-size:22px;
  cursor:pointer;
}

/* MOBILE */
@media(max-width:600px){

  .song-title{
    font-size:18px;
  }

  .action-btn{
    width:36px;
    height:36px;
    font-size:16px;
  }

}
