.top-header{
  position:sticky;
  top:0;
  z-index:999;
  background:black;
  height:50px;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:0 12px;
  box-shadow:
    0 2px 8px rgba(0,0,0,.2);
}

.header-inner{
  display:flex;
  align-items:center;
  gap:10px;
  height:100%;
}

.header-logo{
  width:37px;
  height:37px;
  object-fit:contain;
  display:block;
}

.brand-title{
  color:white;
  font-family:'Rubik Marker Hatch', sans-serif;
  font-size:28px;
  letter-spacing:2px;
  line-height:1;
}

.song-wrapper{
  background:white;
  padding-top:8px;
  min-height:
    calc(100dvh - 50px - 28px);
}

.song-content{
  background:white;
  color:black;
  margin-top:8px;
  padding:
    10px
    30px
    20px
    15px;
  line-height:1.2;
}

.song-tools{
  display:flex;
  gap:10px;
}

#song-title{
  background:transparent !important;
  color:black;
  font-size:24px;
  font-weight:700;
  text-align:center;
  margin:0;
  padding:0;
}

#song-artist{
  text-align:center;
  font-size:16px;
  font-weight:bold;
  font-style:italic
  opacity:0.8;
  margin-top:0px;
}

#song-key{
  text-align:center;
  font-size:16px;
  font-weight:bold;
  opacity:0.8;
  margin-top:0;
  margin-bottom:2px;
}

.section{
  color:#f05000;
  font-weight:normal;
  margin-top:2px;
  margin-bottom:4px;
  font-size:18px;
}

.chord{
  color:#000;
  font-weight:bold;
  font-size:24px;
  line-height:1.2;
  margin-bottom:0px;
}

.lyric{
  font-size:18px;
  line-height:1.2;
  margin-bottom:4px;
}

.floating-tools{
  position:fixed;
  right:10px;
  bottom:30px;
  display:flex;
  flex-direction:column-reverse;
  gap:6px;
  z-index:999;
}

.floating-tools button{
  width:44px;
  height:44px;
  border:none;
  border-radius:12px;
  background:black;
  color:white;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
  box-shadow:
    0 2px 8px rgba(0,0,0,.25);
}

.dark-mode .floating-tools button{
  background:#222;
  color:#ffdd00;
}

body{
  transition:.25s;
}

.song-content,
#song-title{
  transition:.25s;
}

.dark-mode{
  background:#111;
  color:white;
}

.dark-mode .song-wrapper{
  background:#111;
}

.dark-mode #song-title{
  background:#111;
  color:white;
}

.dark-mode #song-key{
  background:#111;
  color:white;
}

.dark-mode .song-content{
  background:#111;
  color:#ffdd00;
}

.dark-mode .floating-tools button{
  background:#222;
  color:#ffdd00;
}

.dark-mode .chord{
  color:#fff;
}

.dark-mode .lyric{
  color:#eee;
}

.dark-mode .section{
  color:#ffdd00;
}

.dark-mode #song-title{
  color:white;
}

body{
  min-height:100dvh;
  margin:0;
  padding:0;
  overflow-x:hidden;
}

.bottom-footer{
  background:black;
  color:white;
  text-align:center;
  font-size:11px;
  font-style:italic;
  letter-spacing:1px;
  padding:6px 10px;
  opacity:.9;
}
