.top-header{
  position:sticky;
  top:0;
  z-index:999;
  background:black;
  padding:10px 16px;
  box-shadow:
    0 2px 10px rgba(0,0,0,.2);
}

.header-inner{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:12px;
}

.header-logo{
  width:42px;
  height:42px;
  object-fit:contain;
}

.brand-title{
  color:white;
  font-size:22px;
  font-weight:bold;
  letter-spacing:2px;
}

.song-wrapper{
  padding-top:10px;
}

.song-content{
  background:white;
  color:black;
  min-height:100vh;
  padding:
    10px
    30px
    20px
    15px;
  line-height:1.2;
}

.song-tools{
  display:flex;
  gap:10px;
}

#song-title{
  text-align:center;
  font-size:32px;
  font-weight:bold;
  margin-top:10px;
  margin-bottom:20px;
  color:black;
}

.section{
  color:#777;
  font-weight:normal;
  margin-top:8px;
  margin-bottom:4px;
  font-size:18px;
}

.chord{
  color:#160436;
  font-weight:bold;
  font-size:24px;
  line-height:1.2;
  margin-bottom:0px;
}

.lyric{
  font-size:18px;
  line-height:1.2;
  margin-bottom:4px;
}

.floating-tools{
  position:fixed;
  right:10px;
  bottom:14px;
  display:flex;
  flex-direction:column-reverse;
  gap:6px;
  z-index:999;
}

.floating-tools button{
  width:44px;
  height:44px;
  border:none;
  border-radius:12px;
  background:black;
  color:white;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
  box-shadow:
    0 2px 8px rgba(0,0,0,.25);
}

.dark-mode .floating-tools button{
  background:#222;
  color:#ffdd00;
}

body{
  transition:.25s;
}

.song-content,
#song-title{
  transition:.25s;
}

.dark-mode{
  background:#111;
  color:white;
}

.dark-mode #song-title{
  background:#111;
  color:white;
}

.dark-mode .song-content{
  background:#111;
  color:white;
}

.dark-mode .floating-tools button{
  background:#222;
  color:#ffdd00;
}

.dark-mode .chord{
  color:#fff;
}

.dark-mode .lyric{
  color:#eee;
}

.dark-mode .section{
  color:#ffdd00;
}

.dark-mode #song-title{
  color:white;
}

body{

  margin:0;
  padding:0;

  overflow-x:hidden;
}
