.song-content{
  background:white;
  color:black;
  min-height:80vh;
  padding:
    10px
    30px
    20px
    15px;
  line-height:1.2;
}

.song-tools{
  display:flex;
  gap:10px;
}

.section{
  color:#777;
  font-weight:normal;
  margin-top:8px;
  margin-bottom:4px;
  font-size:18px;
}

.chord{
  color:#160436;
  font-weight:bold;
  font-size:24px;
  line-height:1.2;
  margin-bottom:0px;
}

.lyric{
  font-size:18px;
  line-height:1.2;
  margin-bottom:4px;
}

.floating-tools{
  position:fixed;
  right:10px;
  bottom:14px;
  display:flex;
  flex-direction:column-reverse;
  gap:6px;
  z-index:999;
}

.floating-tools button{
  width:44px;
  height:44px;
  border:none;
  border-radius:12px;
  background:black;
  color:white;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
  box-shadow:
    0 2px 8px rgba(0,0,0,.25);
}

.dark-mode .floating-tools button{
  background:#222;
  color:#ffdd00;
}

body{
  transition:.25s;
}

.song-content,
#song-title{
  transition:.25s;
}

.dark-mode{
  background:#111;
  color:white;
}

.dark-mode #song-title{
  background:#111;
  color:white;
}

.dark-mode .song-content{
  background:#111;
  color:white;
}

.dark-mode .floating-tools button{
  background:#222;
  color:#ffdd00;
}

.dark-mode .chord{
  color:#fff;
}

.dark-mode .lyric{
  color:#eee;
}

.dark-mode .section{
  color:#ffdd00;
}

body{

  margin:0;
  padding:0;

  overflow-x:hidden;
}
